body{
    background-color: floralwhite;
}

h1{
    background-color: lavender;
    /* box model: */
padding-block-start: 1px;
padding-block-end: 26px;

padding-inline-start: 50px;
padding-inline-end: 20px;

border: dashed 5px darkblue;

margin-block-start: 50px;
margin-block-end: 5px;
margin-inline-start: 30px;
margin-inline-end: 10px;
}


p{
    background-color: aliceblue;
    padding: 16px;
    border: 5px dashed firebrick;
}

#Parrafo-1{
    background-color: aquamarine;
    background-clip: border-box;
    /* esto cambia el contenido */
    width: 200px;
    height: 300px;
}

#Parrafo-2{
    background-color: aquamarine;
    background-clip: padding-box;
}

#Parrafo-3{
    background-color: aquamarine;
    background-clip: content-box;
}

h2 {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-clip: text;
    color: transparent;
}

span{
    color: blueviolet;
    background-color: black;
    border: solid 3px salmon;
    margin: 16px;
    width: 200px;
    height: 50px;
    display: block;
}



